/* FOOTER */
footer {
    margin-top: 70px;
}

hr {
    margin: auto;
    width: 95%;
    border: 1px solid var(--non-accent-color)
}

.footer-text {
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
}

.small-text {
    color: var(--non-accent-color);
    font-size: 10px;
}

.small-text a {
    color: var(--non-accent-color)
}

.small-text a:hover {
    color: var(--text-color);
}
