/*  HEADER  */
header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h3, h4, h5, h6 {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.navbar {
    list-style: none;
}
